Repository fossasia/scrum_helper, pull requests merged in 2025-10, with the labels that each got.

#251 Publish workflow correction
  .github/workflows/publish-chrome.yml
  .github/workflows/publish-to-chrome.yml
  CHANGELOG.md
Labels: documentation, config

#243 fix: resolve Weblate integration issues with translation key inconsistencies
  src/_locales/de/messages.json
  src/_locales/es/messages.json
  src/_locales/fr/messages.json
  src/_locales/hi/messages.json
  src/_locales/id/messages.json
  src/_locales/ja/messages.json
  src/_locales/pt/messages.json
  src/_locales/pt_BR/messages.json
  src/_locales/ru/messages.json
  src/_locales/vi/messages.json
  src/_locales/zh_CN/messages.json
  src/_locales/zh_TW/messages.json
Labels: hacktoberfest

#255 Minor: Publish workflow to kebab-case
  .github/workflows/publish-to-chrome.yml
Labels: config
