Repository fossasia/scrum_helper, pull requests merged in 2025-09, with the labels that each got.

#237 [PATCH] Release and Chrome webstore workflow changes.
  .github/workflows/publish-to-chrome.yml
  .github/workflows/release-drafter.yml
  CHANGELOG.md
Labels: documentation, config

#239 Changed version number in manifest to upload the extension on chrome webstore
  CHANGELOG.md
  src/manifest.json
  src/scrum-helper-110925.zip
Labels: documentation

#242 chore: update UI version number to v2.0.1 to match manifest.json
  src/popup.html
Labels: frontend, extension
